@model IEnumerable<proyecto_final.Models.recetacita>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Medico.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading" style="background:#2C3E50; color:#ffffff;"><h2 style="text-align:center; font-family:Arial; font-weight:700;">Recetas de Citas</h2></div>
    <div class="form-group ">
        @using (@Html.BeginForm("Index", "Visitas", FormMethod.Get))
        {
            <b>Buscar Por:</b><br /><br />

            @Html.RadioButton("searchBy", "fecha", true, new { @class = "radio-inline" }) <text>fecha</text>
            @Html.RadioButton("searchBy", "medicamentos", new { @class = "radio-inline" }) <text>medicamentos</text>
            @Html.RadioButton("searchBy", "paciente", new { @class = "radio-inline" }) <text>paciente</text>
            @Html.RadioButton("searchBy", "observaciones", new { @class = "radio-inline" }) <text>observaciones</text><br /><br />
            <div>

                @Html.TextBox("search", "buscar", new { @class = "form-control" })<br />
                <input type="submit" value="search" class="btn btn-sm form-actions" />
            </div>
        }
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.medicamentos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paciente1.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.medicamentos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paciente1.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
