@model proyecto_final.Models.visita

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Medico.cshtml";
}

<h2>Details</h2>

<div>
    <h4>visita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.paciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proxima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proxima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
