@model IEnumerable<proyecto_final.Models.visita>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Medico.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading" style="background:#2C3E50; color:#ffffff;"><h2 style="text-align:center; font-family:Arial; font-weight:700;">Visitas</h2></div>
    <div class="form-group ">
        @using (@Html.BeginForm("Index", "visitas", FormMethod.Get))
        {
            <b>Buscar Por:</b><br /><br />

            @Html.RadioButton("searchBy", "paciente", true, new { @class = "radio-inline" }) <text>paciente</text>
            @Html.RadioButton("searchBy", "fecha", new { @class = "radio-inline" }) <text>fecha</text>   
            @Html.RadioButton("searchBy", "proxima", true, new { @class = "radio-inline" }) <text>proxima</text>
            @Html.RadioButton("searchBy", "motivo", new { @class = "radio-inline" }) <text>motivo</text>   
            @Html.RadioButton("searchBy", "comentario", true, new { @class = "radio-inline" }) <text>comentario</text>
            @Html.RadioButton("searchBy", "receta", new { @class = "radio-inline" }) <text>receta</text>
            <div>

                @Html.TextBox("search", "buscar", new { @class = "form-control" })<br />
                <input type="submit" value="search" class="btn btn-sm form-actions" />
            </div>
        }
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.paciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proxima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentario)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.paciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proxima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentario)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Imprimir", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
