@model proyecto_final.Models.paciente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Asistente.cshtml";
}

<h2>Details</h2>

<div>
    <h4>paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_naciemiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_naciemiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_sangre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_sangre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cedula }) |
    @Html.ActionLink("Back to List", "Index")
</p>
