@model proyecto_final.Models.paciente
@{
    ViewBag.Title = Model.nombre;
}

<ol class="breadcrumb">
    <li><a href="~/">Clientes</a></li>
    <li class="active">@(Model.nombre)</li>

</ol>

<div class="panel panel-default">
    <div class="panel-heading">Informacion Personal</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Código</dt>
            <dd>@Model.cedula</dd>

            <dt>Nombre</dt>
            <dd>@Model.nombre</dd>

            <dt>Apellido</dt>
            <dd>@Model.apellido</dd>

            <dt>Sangre</dt>
            <dd>@Model.tipo_sangre</dd>

            <dt>Nacimiento</dt>
            <dd>@Model.fecha_naciemiento</dd>

            <dt>Telefono</dt>
            <dd>@Model.telefono</dd>
        </dl>
    </div>
    <div class="form-actions">
        |@Html.ActionLink("Regresar al Listado", "Index")
    </div>
</div>