@{
    Layout = null;
}
@model proyecto_final.Models.Usuarios
@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Inicio de seción</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="~/Style/login.css">
    </head>
    <body>
        <div class="card">
            <div class="card-content">
                <form class="white">
                    <h1>Iniciar Sesión</h1>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @if (@ViewBag.Message != null)
                    {
                        <div style="border: 1px solid red">
                            @ViewBag.Message
                        </div>
                    }
                        <div class="input-field">
                            @Html.LabelFor(a => a.Nombre)
                            @Html.TextBoxFor(a => a.Nombre)
                            @Html.ValidationMessageFor(a => a.Nombre, "se requiere un nombre de usuario", new { @class = "text-danger" })
                        </div>
                    <div class="input-field">
                        @Html.LabelFor(a => a.clave)
                        @Html.PasswordFor(a => a.clave)
                        @Html.ValidationMessageFor(a => a.clave, "se requiere una clave en este campo", new { @class = "text-danger" })
                    </div>
                    <div class="input-field">
                        <input type="submit" value="Login" class="btn #1976d2 blue darken-2" />
                    </div>
                </form>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
}
